<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ops.zen.mapper.ZenSysRoleMapper">
  <insert id="insertBatch" parameterType="java.util.List">
    INSERT INTO sys_role (PK_ROLE, NAME, IS_SYS, IS_LOCK, PK_CREATEDBY, DT_CREATED, PK_MODIFIEDBY, DT_MODIFIED, DS, VERSION) VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.pkRole}, #{item.name}, #{item.isSys}, #{item.isLock}, #{item.pkCreatedby}, #{item.dtCreated}, #{item.pkModifiedby}, #{item.dtModified}, #{item.ds}, #{item.version})
    </foreach>
  </insert>
</mapper>
